.campaigns {
    position: absolute;
    overflow: hidden;
}

.hide {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.show {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.campaigns-menu {
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #f7f7fa;
}

.campaigns-content {
    position: absolute;
    width: calc(100% - 300px);
    height: 100%;
    margin-left: 300px;
}

.mycampaigns-list-show {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 1;
}

.mycampaigns-list-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 0;
}

.mycampaigns-list-tiles {
    width: 1000px;
    margin: 0 auto;
}

.campaign-tile {
    float: left;
    padding: 20px;
}

.campaign-tile-container {
    position: relative;
    border: 1px solid #EEEEEE;
}

.campaign-tile-subcontainer {
    padding: 10px;
}

.campaign-tile-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "BebasRegular";
    color: #333333;
}

.campaign-tile-days-left {
    position: absolute;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: "GothamRounded-book";
    color: #FFFFFF;
    background-color: #05b7f1;
}

.campaign-tile-btns {
    overflow: auto;
    clear: both;
    color: #fc4ea7;
}

.campaign-tile-details {
    margin-bottom: 20px;
    color: #999999;
}

.campaign-tile-detail {
    clear: both;
    overflow: auto;
    margin-bottom: 2px;
}

.campaign-tile-detail-title {
    float: left;
    font-size: 12px;
    font-family: "GothamRounded-Medium";
}

.campaign-tile-detail-value {
    float: right;  
    font-size: 12px;
    font-family: "GothamRounded-book";
}

.mycampaigns-create-form {
    width: 600px;
    margin: 0 auto;
    padding-top: 40px;
}

.mycampaigns-create-form-input::placeholder {
    color: #CCCCCC;
}

.mycampaigns-create-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    outline: none;
    font-family: "GothamRounded-Book";
    font-size: 14px;
    color: #999999;
}

.mycampaigns-create-form-textarea::placeholder {
    color: #CCCCCC;
}

.mycampaigns-create-form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    resize: none;
    outline: none;
    height: 300px;
    font-family: "GothamRounded-Book";
    font-size: 14px;
    color: #999999;
}

.mycampaigns-create-form-create-btn {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fc4ea7;
    font-family: "BebasRegular";
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}