.sign-in-show {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .75);
    transition: padding .25s, opacity .25s;
    transition-timing-function: ease-out;
    opacity: 1;
    padding-top: 0px;
}

.sign-in-hide {
    position: absolute;
    z-index: 20;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .75);
    transition: padding .25s, opacity .25s;
    transition-timing-function: ease-out;
    opacity: 0;
    padding-top: 100px;
}

.sign-in-container {
    position: absolute;
    z-index: 2;
    width: 280px;
    border-radius: 10px;
    background-color: #2e395c;
    margin-left: calc(50vw - 140px);
    margin-top: calc(50vh - 160px);
    overflow: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

.sign-in-input {
    display: block;
    width: 200px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    outline: none;
    font-family: "GothamRounded-Light";
    font-size: 16px;
    color: #eeeeee;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.sign-in-input::placeholder {
    color: #EEEEEE;
    opacity: .5;
}

.sign-in-submit-btn {
    width: 200px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-family: "BebasRegular";
    font-size: 20px;
    color: #EEEEEE;
    background-color: #fc4ea7;
}

.sign-in-logo {
    width: 100px;
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sign-in-inputs {
    margin-left: 40px;
}

.sign-in-input-spacer {
    height: 20px;
}

.sign-in-exit-btn {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}