.about-show {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    background-color: #EEEEEE;
    transition: opacity .5s;
    transition-timing-function: ease-out;
}

.about-hide {
    position: absolute;
    z-index: 20;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    background-color: #EEEEEE;
    transition: opacity .5s;
    transition-timing-function: ease-out;
}

.about-header {
    position: absolute;
    width: 100%;
    z-index: 3;
    overflow: auto;
    clear: both;
}

.about-menu {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    color: #333333;
}

.about-copy {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-family: "GothamRounded-Light";
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.about-copy-container{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-copy-header {
    font-family: "BebasRegular";
    font-size: 200px;
    line-height: 180px;
}