.campaigns {
  position: absolute;
  overflow: hidden;
}

.campaigns-header {
  padding: 20px;
  width: 100%;
  overflow: auto;
  clear: both;
}

.campaigns-breadcrumbs {
  float: left;
  margin-top: 10px;
  font-size: 20px;
  font-family: "GothamRounded-light";
  color: #333333;
}

.campaigns-divider {
  width: 100%;
  height: 1px;
  background-color: #EEEEEE;
}

.campaign-tiles-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.campaign-tiles {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 80px;
  clear: both;
  overflow: auto;
}

.campaign-tile {
  float: left;
  padding: 20px;
}

.campaign-tile-container {
  position: relative;
  border: 1px solid #EEEEEE;
}

.campaign-tile-subcontainer {
  padding: 10px;
}

.campaign-tile-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "GothamRounded-medium";
  color: #333333;
}

.campaign-tile-days-left {
  position: absolute;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "GothamRounded-book";
  color: #FFFFFF;
  background-color: #05b7f1;
}

.campaign-tile-btns {
  overflow: auto;
  clear: both;
}

.campaign-tile-btn {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "GothamRounded-medium";
  color: #FFFFFF;
  background-color: #fc4ea7;
  cursor: pointer;
}

.campaign-tile-details {
  margin-bottom: 20px;
  color: #999999;
}

.campaign-tile-detail {
  clear: both;
  overflow: auto;
  margin-bottom: 2px;
}

.campaign-tile-detail-title {
  float: left;
  font-size: 12px;
  font-family: "GothamRounded-medium";
}

.campaign-tile-detail-value {
  float: right;
  font-size: 12px;
  font-family: "GothamRounded-book";
}